
#jspsych-html-keyboard-word-response-stimulus {
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}

#jspsych-html-keyboard-word-response-answerInput {
    font-size: 28px;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
    text-transform: lowercase;
}

#jspsych-html-keyboard-word-response-feedback {
    font-size: 28px;
    text-align: center;
    padding-top: 50px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#jspsych-target {
    width: 100%;
    height: 100%;
}

#rl-progress-bar {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    margin: 0;
    text-align: center;
}

#rl-progress-bar .rl-score {
    padding: 10px 75px;
    display: inline-block;
    font-family: 'Open Sans', 'Arial';
    font-size: 16px;
    color: #333;
    display: none;
}

#rl-progress-bar .rl-timer {
    padding: 10px 75px;
    display: inline-block;
    font-family: 'Open Sans', 'Arial';
    font-size: 16px;
    color: #333;
    display: none;
}

#rl-image {
    max-height: 45vh;
    width: auto;
}

#jspsych-html-voicekey-response-hint {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#jspsych-html-image-mc-response-hint {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.jspsych-btn {
    width: 50%;
    display: block;
    padding: 12px 12px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fafafa;
    border-color: #ccc;
  }
  
  .jspsych-btn:focus {
      outline: none;
  }

  .jspsych-btn::-moz-focus-inner {
    border: 0;
  }

  .jspsych-btn:disabled {
    background-color: #eee;
    color: #888;
    border-color: #ccc;
    cursor: not-allowed;
  }

  .jspsych-btn:disabled.correct-answer {
    background-image: url("checkmark.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #00c011;
    color: #fff;
  }

  .jspsych-btn:disabled.wrong-answer {
    background-image: url("crossmark.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ff0e0e;
    color: #fff;
    position: relative;
    animation-name: shake-wrong-answer;
    animation-duration: 5s;
    animation-timing-function: ease-in;
  }

  @keyframes shake-wrong-answer {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }
  

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}